body{
    background-color: white;
    font-family: serif;
}

.card{
    margin: auto;
    width: 300px;
    padding: 15px;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 5px 10px lightgray;
}

#fact{
    font-style: italic;
}

#description{
    text-align: justify;
}

.info{
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li span{
    font-weight: bold;
}

img{
    margin-bottom: 5px;
}